.examplePlatternsBox {
  margin: 2rem 0 2rem 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1rem;
  background: var(--off-white);
  box-shadow: 0px 5px 2px rgba(0,0,0,.1);
}

.header h2 {
  font-size: 1.8rem;
}

.button {
  background: transparent;
  border: 2px solid var(--base-color);
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--base-color);
  cursor: pointer;
  align-self: center;
  outline: none;
}

.button svg {
  width: 1.8em;
  height: 1.8em;
}

.patternContainer {
  background: var(--off-white);
  width: 100%;
  padding: 1rem;
}

.patternContainer p {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.patternContainer li {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  margin-left: 2rem;
}