*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root {
  --base-color: #158a0c;
  --text-gray: #363b37;
  --text-gray-lighter: #6c706c;
  --light-gray-background: #F1F1EA;
  --off-white: #fefefa;

  --large-title-size: 4rem;
  --medium-title-size: 3.2rem;
  --small-title-size: 2.4rem;

  --large-description-text: 2.2rem;
  --small-description-text: 1.8rem;

  --description-line-height: 1.5;

}

html {
  font-size: 62.5%;
}

body {
  background: var(--light-gray-background);
}

a {
  text-decoration: none;
}
