.headerContainer {
  width: 75%;
  margin: 1rem auto;
}

.title {
  text-align: center;
  font-size: var(--large-title-size);
  color: var(--base-color);
  margin: 0 0 1rem 0;
}

.description {
  text-align: center;
  font-size: var(--large-description-text);
  color: var(--text-gray);
  margin-bottom: 1rem;
  line-height: var(--description-line-height);
}

@media (max-width: 550px) {
  .headerContainer {
    width: 90%;
    margin: 1rem auto;
  }
}

@media (max-width: 500px) {
  .title {
    font-size: var(--medium-title-size);
  }
  .description {
    font-size: var(--small-description-text);
    margin-bottom: 0;
  }
}