.pageContainer {
  width: 75%;
  margin: 1rem auto;
}

.header {
  text-align: center;
  margin: 3rem;
}

.title {
  font-size: var(--large-title-size);
  color: var(--base-color);
  font-family: var(--title-font);
}

.description {
  font-size: var(--large-description-text);
  color: var(--text-gray);
  line-height: var(--description-line-height);
  font-family: var(--text-font);
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  gap: 4rem;
}

.cardContainer {
  border-bottom: 2px solid lightgray;
  padding-bottom: 2rem;
}

.card {
  display: grid;
  grid-template-areas: "image text";
  grid-template-columns: 200px 1fr;
  align-items: top;
}

a {
  color: var(--text-gray);
}

.image {
  width: 200px;
  grid-area: image;
  align-self: center;
}

.lessonInfo {
  grid-area: text;
  margin: 0 2rem;
}

.lessonTitle {
  font-size: 2.4rem;
}

.lessonNumber {
  font-size: 1.4rem;
  font-weight: 300;
}

.numberBorder {
  border: 2px solid var(--base-color);
  padding: .5rem;
}

.cardContainer:hover .lessonTitle {
  color: var(--base-color);
}

.cardContainer:hover .numberBorder {
  border: none;
  color: var(--base-color);
  font-weight: bold;
}

.cardContainer:hover .image {
  filter: brightness(0.90);
}

@media (max-width: 900px) {
  .pageContainer {
    width: 90%;
  }

  .header {
    margin: 2rem;
  }

  .cardWrapper {
    margin: 1rem;
  }

  .lessonInfo {
    margin: 0 1rem;
  }

  .lessonTitle {
    font-size: 2.2rem;
    margin: 0 0 2rem 0;
  }

}

@media (max-width: 600px) {
  .pageContainer {
    width: 100%;
  }

  .header {
    margin: 1rem .5rem;
  }

  .description {
    margin: 1rem .5rem;
  }

  .title {
    font-size: var(--medium-title-size);
  }

  .card {
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin-bottom: 1rem;
  }

  .image {
    width: 150px;
    grid-area: image;
    align-self: center;
  }

  .cardWrapper {
    margin: 0;
  }

  .lessonTitle {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .lessonNumber {
    font-size: 1.2rem;
  }

  .numberBorder {
    padding: .25rem;
  }
}

@media (max-width: 400px) {

}




